#title {

color: rgba(21, 190, 151, 0.705);
font-family: 'Aboreto';
}

.gold {
    color:gold 
}

.green {
    color: rgb(104, 240, 104);
}

h2 {
    color:antiquewhite
    font-family: 'Aboreto'
}

h3 {
    color:antiquewhite
    font-family: 'Aboreto'
}

body {
    background-color: rgb(172, 202, 249);
    padding: 30px
    
}

ul {
    border: 20px rgba(255, 235, 205, 0.258);
    padding:20px;
    font-family: 'Times New Roman', Times, serif;
}

p {
    color: rgba(8, 8, 8, 0.938);
    font-family: 'Times New Roman', Times, serif
   ;

}

.blanchealmond { 
    color:blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
}

