#title {

color: rgb(21, 190, 150);
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.gold {
    color:gold 
}

.green {
    color: rgb(104, 240, 104);
}

h2 {
    color:antiquewhite
}

body {
    background-color: maroon;
    padding: 30px
    
}

ul {
    border: 20px rgb(218, 227, 225) 
    padding: 20px
}

p {
    color: yellow;

}

.blanchealmond { 
    color:blanchedalmond
}