#title {

color: rgb(21, 190, 150);
}

.gold {
    color:gold 
}

.green {
    color: rgb(104, 240, 104);
}

h2 {
    color:antiquewhite
}

body {
    background-color: maroon;
    padding: 30px
    
}

ul {
    border: 20px solid grey
    padding: 20px
}

p {
    color: blanchedalmond;

}